@model Wardrobe.Models.Outfit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4> @Html.DisplayFor(model => model.Name) Outfit</h4>
    <hr />
    <dl class="dl-horizontal">
 

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accessory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accessory.Name)
            <img height="200" src="@Html.DisplayFor(model => model.Accessory.Photo)" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bottom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bottom.Name)
            <img height="200" src="@Html.DisplayFor(model => model.Bottom.Photo)" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shoe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shoe.Name)
            <img height="200" src="@Html.DisplayFor(model => model.Shoe.Photo)" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Top)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Top.Name)
            <img height="200" src="@Html.DisplayFor(model => model.Top.Photo)" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OutfitID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
