@model IEnumerable<Wardrobe.Models.Outfit>

@{
    ViewBag.Title = "Index";
}

<h2>My Outfits</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row container-fluid">
    @foreach (var item in Model)
    {
        <div class="col-xs-12 col-sm-12  col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h4> @Html.DisplayFor(modelItem => item.Name)</h4></div>
                <div class="panel-body">
                    <div class="OutfitItem">
                        <img src="@Html.DisplayFor(modelItem => item.Top.Photo)" />
                    </div>
                    <div class="OutfitItem">
                        <img src="@Html.DisplayFor(modelItem => item.Accessory.Photo)" />
                    </div>
                    <div class="OutfitItem">
                        <img src="@Html.DisplayFor(modelItem => item.Bottom.Photo)" />
                    </div>
                    <div class="OutfitItem">
                        <img src="@Html.DisplayFor(modelItem => item.Shoe.Photo)" />
                    </div>
                    <div class="OutfitDetails">
                        <p>
                            <strong>Top:</strong> @Html.DisplayFor(modelItem => item.Top.Name)<br />
                            <strong>Accessory:</strong> @Html.DisplayFor(modelItem => item.Accessory.Name)<br />
                            <strong>Bottom:</strong> @Html.DisplayFor(modelItem => item.Bottom.Name)<br />
                            <strong>Shoe:</strong> @Html.DisplayFor(modelItem => item.Shoe.Name)<br />
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>
                    </div>
                </div>
                <div class="panel-footer">
                    @Html.ActionLink("Edit", "Edit", new { id = item.OutfitID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.OutfitID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.OutfitID })
                </div>
            </div>
        </div>
    }
</div>



